In [ ]:
import pandas as pd
import numpy as np

#### Задание 1

**Pandas**

На основании информации с логами, нужно сформировать выборку для email-рассылки, посвященной оффлайн-фестивалю техно.

Описание полей:
* `utc_audition_start_dttm` -  дата начала прослушивания;
* `utc_audition_end_dttm` - дата окончания прослушивания;
* `track_id` - id трека;
* `track_genre` - жанр трека;
* `track_duration` - продолжительность трека в секундах;
* `user_id` - id юзера;
* `audition_id` - id прослушивания.

In [ ]:
df = pd.read_csv(r'C:\Users\Dima\Downloads\music_data.csv')

In [ ]:
df.head()

,Unnamed: 0,audition_id,track_duration,track_genre,track_id,user_id,utc_audition_end_dttm,utc_audition_start_dttm
0,0,3fecd60bf5564de7bb0064335f482b4d,336.629082,RAP,efd614e5-239a-418e-b39c-181b43719b62,a72d73ea124840698aa8,2021-02-28T12:32:10.776000Z,2021-02-28T12:31:01.865000Z
1,1,8ae1703df8354ee6b8d39ce2ceae4508,428.797846,VOCAL,d4697e6e-698a-41e8-8e15-ec890c94751e,066cc9287de340f281ba,2021-01-19T12:13:43.369000Z,2021-01-19T12:12:48.185000Z
2,2,44383125d98a4d939e7f294602674fc6,463.467143,METAL,e006afab-c832-4d07-8cd0-7d4a9c2aabe8,95ed23b52b104f66b4b1,2021-02-27T19:53:57.143000Z,2021-02-27T19:52:42.470000Z
3,3,a90b74992c9f4046a68935cb83ced7ee,323.746259,HARDROCK,c2ea845c-fcba-480a-b41a-d58bf9493375,b0a6dcec6f604b50b37e,2021-02-24T01:51:44.526000Z,2021-02-24T01:46:25.549000Z
4,4,0d98a88fba0a4dc3bb0444089a0ce16b,316.888403,POP,ad68738c-2a38-4e0f-910a-71bb0aa0a0c0,6788b1c78a724de488c9,2020-12-24T05:04:32.855000Z,2020-12-24T05:00:09.645000Z

In [ ]:
df.shape

(842397, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842397 entries, 0 to 842396
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               842397 non-null  int64
 1   audition_id              842397 non-null  object
 2   track_duration           842397 non-null  float64
 3   track_genre              842397 non-null  object
 4   track_id                 842397 non-null  object
 5   user_id                  842397 non-null  object
 6   utc_audition_end_dttm    842397 non-null  object
 7   utc_audition_start_dttm  842397 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 51.4+ MB

In [ ]:
df.isna().mean()

Unnamed: 0                 0.0
audition_id                0.0
track_duration             0.0
track_genre                0.0
track_id                   0.0
user_id                    0.0
utc_audition_end_dttm      0.0
utc_audition_start_dttm    0.0
dtype: float64

Избавимся от дубля индкса - `Unnamed: 0`, полученного при выгрузке датасета.

In [ ]:
df = df.drop('Unnamed: 0', axis=1)

Переведем даты в `timestamp`.

In [ ]:
df['utc_audition_start_dttm'] = pd.to_datetime(df['utc_audition_start_dttm'], format = '%Y-%m-%dT%H:%M:%S.%f')

In [ ]:
df['utc_audition_end_dttm'] = pd.to_datetime(df['utc_audition_end_dttm'], format = '%Y-%m-%dT%H:%M:%S.%f')

Количество уникальных юзеров.

In [ ]:
df['user_id'].nunique()

1727

In [ ]:
df['user_id'].value_counts()

0041383820e248e487a6    1069
34a0b3746c624e5ba3ca    1022
26fc025750364a34881f    1011
805f5e31be634900a9ed     923
73949f6f48b746e0bbd4     890
                        ...
76e38ef9ef7344c78863     115
e787dd56be6b4defa646     111
e4e38371f16149f6a10c     107
1828b1036eaf4e64841a      72
52954001ebf6474586ba      68
Name: user_id, Length: 1727, dtype: int64

Посмотрим на отдельного юзера.

In [ ]:
df[df['user_id']=='52954001ebf6474586ba'].head()

,audition_id,track_duration,track_genre,track_id,user_id,utc_audition_end_dttm,utc_audition_start_dttm
2929,08adb4ba5e36485e9e230b58ecdd9beb,335.458672,RNB,c7347cce-03ac-4a85-9635-4a250c1bcbb2,52954001ebf6474586ba,2021-01-18 23:43:04.860000+00:00,2021-01-18 23:37:59.327000+00:00
21899,af53564bd24b490c9b4a3e8b24b2a537,283.886145,INDUSTRIAL,06bd72c3-7503-4827-920f-107833812c98,52954001ebf6474586ba,2020-12-09 16:10:05.372000+00:00,2020-12-09 16:07:04.929000+00:00
32688,e31bef014c32460caa622ac5d6ef8e69,412.620027,ROCK,e6bb73b2-3b54-463f-a281-eba7ed371084,52954001ebf6474586ba,2021-02-14 14:33:20.302000+00:00,2021-02-14 14:27:38.445000+00:00
43463,19340951c3ae48f29afa8d95b55f7bfa,665.663608,ELECTRONICS,980c8418-3695-400c-9635-ef49a4e63b89,52954001ebf6474586ba,2021-02-27 22:27:44.546000+00:00,2021-02-27 22:17:27.577000+00:00
52182,41077c831eed41c3bf4ba5d99586acf9,398.753166,VOCAL,e1b57908-0bb5-45f2-b438-ef3849d9b9f0,52954001ebf6474586ba,2021-02-24 11:19:31.801000+00:00,2021-02-24 11:18:02.551000+00:00

Увеличим количество отображаемых строк в датафрейме по умолчанию.

In [ ]:
pd.options.display.max_rows=100

In [ ]:
df[df['user_id']=='52954001ebf6474586ba'].sort_values('utc_audition_start_dttm')

,audition_id,track_duration,track_genre,track_id,user_id,utc_audition_end_dttm,utc_audition_start_dttm
342158,2c1df2053b934ddca4b7dcf842fe721b,757.469685,ELECTRONICS,8d7864f3-e5d1-4e9e-af8e-e689a76bdd3c,52954001ebf6474586ba,2020-10-27 09:36:33.198000+00:00,2020-10-27 09:35:07.240000+00:00
559672,ea87018e5c3545c2ab60d2a8ee93d59f,317.165208,HOUSE,4cff4e72-b5d7-4adb-b90f-fe031c5127f9,52954001ebf6474586ba,2020-11-28 19:50:03.429000+00:00,2020-11-28 19:49:23.073000+00:00
471593,3644c17a1a494b60aa1b3d9b0fd9753e,391.884058,RNB,a28ae902-fa7c-4c39-a9bd-3edff6f66ad4,52954001ebf6474586ba,2020-12-03 20:14:19.494000+00:00,2020-12-03 20:12:35.294000+00:00
21899,af53564bd24b490c9b4a3e8b24b2a537,283.886145,INDUSTRIAL,06bd72c3-7503-4827-920f-107833812c98,52954001ebf6474586ba,2020-12-09 16:10:05.372000+00:00,2020-12-09 16:07:04.929000+00:00
455316,6b458f57ecfe4c5ea9cbb82161200dfa,367.980266,POP,76e51279-07ce-4ace-936b-b24dbedc4c7e,52954001ebf6474586ba,2020-12-31 19:47:51.971000+00:00,2020-12-31 19:41:37.786000+00:00
191072,69cf6b359d7f40ef89af87b8868b8e9e,4046.419810,PODCASTS,d7daad93-e635-4660-85c9-72ee427fe8bd,52954001ebf6474586ba,2021-01-02 01:58:11.631000+00:00,2021-01-02 01:01:44.330000+00:00
293359,d5330e67649f4335a2cf55c29e12aa7b,475.139084,TECHNO,8988b120-4b93-4d79-984c-dc39ce89e31b,52954001ebf6474586ba,2021-01-09 06:37:24.980000+00:00,2021-01-09 06:35:51.452000+00:00
675587,f3c59ca9ab9f4c198e18cf7c6bcb4fad,330.152438,HARDROCK,c3a2ab89-9e37-4463-9876-2ac92b842c44,52954001ebf6474586ba,2021-01-12 15:03:16.355000+00:00,2021-01-12 14:57:58.453000+00:00
117973,39e65b1fe5bb41afbfa6f2e989e99a7f,541.510764,BLUES,7aba4195-696f-44d2-973a-9c4d4a58bf90,52954001ebf6474586ba,2021-01-15 22:14:04.765000+00:00,2021-01-15 22:06:57.521000+00:00
2929,08adb4ba5e36485e9e230b58ecdd9beb,335.458672,RNB,c7347cce-03ac-4a85-9635-4a250c1bcbb2,52954001ebf6474586ba,2021-01-18 23:43:04.860000+00:00,2021-01-18 23:37:59.327000+00:00
101009,77bf9413b4394111abf55d363c43c0c5,753.544216,ELECTRONICS,fcabe3cb-17ed-4ffe-b553-98fecc8bd9c7,52954001ebf6474586ba,2021-01-19 12:55:41.485000+00:00,2021-01-19 12:52:14.812000+00:00
352674,58c8b817561e45cca3e77a339cfe0542,400.974635,ROCK,87a192cf-33e0-4c37-b6f2-b2e8e248ffec,52954001ebf6474586ba,2021-01-22 14:17:05.518000+00:00,2021-01-22 14:15:41.910000+00:00
776602,52e4b9f4e7854de194963ba5b7c28994,285.357570,INDUSTRIAL,b954aa62-6db1-46cd-a8a4-4e8d91dfaef6,52954001ebf6474586ba,2021-01-25 06:01:53.502000+00:00,2021-01-25 05:57:19.792000+00:00
785791,f67c0df8a1934694afb5e66c4549d290,403.096353,VOCAL,11fcc0f7-369f-4b56-87d9-a0dbcaaaa7bc,52954001ebf6474586ba,2021-01-27 15:56:39.821000+00:00,2021-01-27 15:55:45.731000+00:00
123222,15445d5982ad43b08d0a6ff2c3062cd0,1039.633663,RELAX,2ed37b0a-16f0-4f01-9cb3-65cdfe4a602e,52954001ebf6474586ba,2021-01-29 07:16:06.790000+00:00,2021-01-29 07:05:26.943000+00:00
547265,57015855fb584da0a548efe6042be0ef,740.568198,ELECTRONICS,0aec38d5-1a5e-4589-a012-a7f9e19f83e6,52954001ebf6474586ba,2021-01-30 07:13:38.206000+00:00,2021-01-30 07:01:48.392000+00:00
503070,ce5caa16946c41b5ae310531d1d6d0db,363.237126,RAP,a79bad7b-8d3d-4897-83ff-30e7deb239ba,52954001ebf6474586ba,2021-02-01 07:27:28.385000+00:00,2021-02-01 07:26:49.837000+00:00
730875,6e91f17898a140258b1088af3e00faba,737.504845,ELECTRONICS,aef90202-5fad-4c4c-aad0-4e317f07346c,52954001ebf6474586ba,2021-02-06 03:40:48.558000+00:00,2021-02-06 03:29:26.028000+00:00
419949,4525576370694358b7dc3faa743b5c3f,697.745445,ELECTRONICS,c44196ff-7518-4588-a3c7-37b0b288c240,52954001ebf6474586ba,2021-02-07 10:49:35.417000+00:00,2021-02-07 10:47:48.215000+00:00
291720,aadbb5f4eb774a2fbf50a6b2023075dd,398.166109,POP,c2a9bd55-ccd4-4213-a060-822deb58e69b,52954001ebf6474586ba,2021-02-07 18:29:28.898000+00:00,2021-02-07 18:23:55.766000+00:00
246742,b9c41852dc444be5b467f139573174c2,506.358741,DUBSTEP,2fd07d26-1a5c-4ad8-b6f5-22f3e9b977d3,52954001ebf6474586ba,2021-02-07 19:29:37.597000+00:00,2021-02-07 19:23:01.514000+00:00
532281,4ddadfd80d364b6e9d7675d24b42d2f9,366.137101,DISCO,210ef768-a438-4e4d-9358-ea0779d7030b,52954001ebf6474586ba,2021-02-09 16:35:13.499000+00:00,2021-02-09 16:34:30.261000+00:00
723697,b9002902bc7841fab11dcb07e04d5bf1,785.700547,ELECTRONICS,f1f55314-0201-4a44-b22e-f6d85a06b6f3,52954001ebf6474586ba,2021-02-10 13:03:54.326000+00:00,2021-02-10 13:03:53.862000+00:00
501645,52177639d4ea44f789ca6b913c49cbd1,327.269308,HARDROCK,a1402f67-9300-4e0a-9fec-cbe1d2468854,52954001ebf6474586ba,2021-02-11 23:04:17.873000+00:00,2021-02-11 22:58:44.223000+00:00
110935,4a389d9e297e4f3cbbb6fec2e00f8944,398.004625,VOCAL,8a059a8e-91aa-455c-95af-9475bcc6e903,52954001ebf6474586ba,2021-02-12 00:08:37.656000+00:00,2021-02-12 00:03:26.941000+00:00
639272,e2d58a54bf764539acff602cc49b5ce2,556.925257,BLUES,f4779003-f7d0-4deb-ae7e-89d41b6092de,52954001ebf6474586ba,2021-02-14 09:27:32.130000+00:00,2021-02-14 09:21:07.472000+00:00
32688,e31bef014c32460caa622ac5d6ef8e69,412.620027,ROCK,e6bb73b2-3b54-463f-a281-eba7ed371084,52954001ebf6474586ba,2021-02-14 14:33:20.302000+00:00,2021-02-14 14:27:38.445000+00:00
478933,28a20e33a5a24a8c8f2b4d198bb24318,389.735044,ROCK,74b4ffba-ad73-4fc4-b6dd-f3977ebda333,52954001ebf6474586ba,2021-02-14 18:41:13.476000+00:00,2021-02-14 18:34:52.857000+00:00
339754,98482b671620420b8689079460275cd4,408.782019,KPOP,7f630530-e6cb-4966-9645-8b6c77610400,52954001ebf6474586ba,2021-02-15 03:52:54.014000+00:00,2021-02-15 03:46:15.591000+00:00
830790,0f58175196654ae98dfeac37d1bbe31b,379.582600,POP,be59a3ba-6d2a-4c39-aaeb-e14679dd4461,52954001ebf6474586ba,2021-02-15 16:09:18.068000+00:00,2021-02-15 16:04:38.874000+00:00
777292,d3dbf371f1c54ee4afeff9cd22babbae,437.962770,KPOP,eb0b513c-ead4-41fb-9f01-2ffe22a2beae,52954001ebf6474586ba,2021-02-15 18:55:29.180000+00:00,2021-02-15 18:48:24.145000+00:00
740382,88332419501c4b2a98ca0cd20bd5fe92,473.087684,METAL,79b377f5-112a-4d15-857b-cb08f818f74b,52954001ebf6474586ba,2021-02-17 11:06:35.480000+00:00,2021-02-17 11:02:59.180000+00:00
331675,aef2cf8a233a4c71aacfe9441fbf86f7,427.257819,TECHNO,0a49df19-8a78-479e-9215-131c2cd7ce04,52954001ebf6474586ba,2021-02-18 08:19:06.653000+00:00,2021-02-18 08:18:09.428000+00:00
192631,dfcf959579c942c1b1f1b15a9fb6603d,420.482822,POP,1cc3d649-d737-4634-931e-579ccee127cb,52954001ebf6474586ba,2021-02-18 14:24:18.963000+00:00,2021-02-18 14:22:16.092000+00:00
782475,5feb037a1bdb4e12b35e04817cb5962e,413.179909,KPOP,b7eea3ba-1e62-49cc-a749-e3b657c3ec63,52954001ebf6474586ba,2021-02-19 07:58:52.510000+00:00,2021-02-19 07:52:44.976000+00:00
303339,a05878ee99604cafbdd973e871ffbe35,460.902298,METAL,50cbad3c-2697-4f50-9d57-9aa80bc2acdf,52954001ebf6474586ba,2021-02-19 10:09:26.111000+00:00,2021-02-19 10:02:44.674000+00:00
427083,bd36ba428a684743824438d1d63e94ef,4425.023783,PODCASTS,a9836bbf-3603-4afd-9c37-af0b1aa95e23,52954001ebf6474586ba,2021-02-19 23:34:08.946000+00:00,2021-02-19 23:22:25.865000+00:00
249118,deab7b800fba4caf938ca203b5811f5d,395.326104,POP,b5e08db8-a27a-41a8-a353-b23bb5bd6a62,52954001ebf6474586ba,2021-02-20 07:12:37.182000+00:00,2021-02-20 07:07:18.390000+00:00
113825,d4da0fa8a79e4b84af6cc64512d5ed03,379.204580,POP,0e805633-3707-4eea-9e10-d9c4d34382a7,52954001ebf6474586ba,2021-02-20 15:48:48.671000+00:00,2021-02-20 15:43:18.571000+00:00
759420,0ae0d54546f44a80b302534a83ec0586,537.168572,DUBSTEP,0807b06c-9fb3-43bf-b1fd-61f3045b7304,52954001ebf6474586ba,2021-02-21 10:36:35.185000+00:00,2021-02-21 10:27:51.827000+00:00
669506,9e5986a356dc43229f48f520cadc67f7,766.807437,ELECTRONICS,37cf5349-b1e3-42c8-9109-bc9927f30cd5,52954001ebf6474586ba,2021-02-22 09:49:15.281000+00:00,2021-02-22 09:37:26.532000+00:00
646445,178237e77c8849a28848e6a9872172ac,349.623632,HARDROCK,46b392fb-957b-421d-970d-bbafe0a06e1c,52954001ebf6474586ba,2021-02-23 00:34:21.615000+00:00,2021-02-23 00:27:55.847000+00:00
171719,dd497549359243b4bd98d9b62af646f9,374.415199,POP,81247294-4d2b-430a-b84f-8ce45439069e,52954001ebf6474586ba,2021-02-23 16:39:14.596000+00:00,2021-02-23 16:35:44.063000+00:00
78208,efc15d66beca4f3ba674d5999cc12907,368.650261,POP,4f096dd4-fe5f-4664-956f-1974cbb5fd98,52954001ebf6474586ba,2021-02-23 22:42:10.212000+00:00,2021-02-23 22:37:17.329000+00:00
136700,c17b5c585711467faf76075c411d3618,345.697340,POP,1e079a10-4cf1-464d-8c2d-aff61c7ed7d8,52954001ebf6474586ba,2021-02-24 10:28:39.852000+00:00,2021-02-24 10:24:08.795000+00:00
52182,41077c831eed41c3bf4ba5d99586acf9,398.753166,VOCAL,e1b57908-0bb5-45f2-b438-ef3849d9b9f0,52954001ebf6474586ba,2021-02-24 11:19:31.801000+00:00,2021-02-24 11:18:02.551000+00:00
93004,a5527fe4071e4f86b1e3499eed7b91a4,345.697340,POP,1e079a10-4cf1-464d-8c2d-aff61c7ed7d8,52954001ebf6474586ba,2021-02-24 19:49:06.246000+00:00,2021-02-24 19:43:56.603000+00:00
272762,e0340e84602242a2a71e9f3635b783e1,368.317416,POP,24e91686-2ff7-4598-a576-ba79501829c7,52954001ebf6474586ba,2021-02-24 20:22:32.527000+00:00,2021-02-24 20:19:22.556000+00:00
487328,b302486c7f5f46218971506eaa580913,310.612093,HARDROCK,4f8d5d5a-5615-4fb9-bb42-1dbedc8aedff,52954001ebf6474586ba,2021-02-25 02:44:10.646000+00:00,2021-02-25 02:39:46.153000+00:00
485604,cd642e6cb2a6410bbee421eb1bf13946,632.090422,ELECTRONICS,f2f572c5-3372-4165-b637-357a922ad790,52954001ebf6474586ba,2021-02-25 09:03:44.230000+00:00,2021-02-25 08:53:26.011000+00:00
589506,f8281bca9faf4250871708f5c777076e,373.989008,POP,3ac8a9f4-efe6-4978-ad11-98d0c1ffb21b,52954001ebf6474586ba,2021-02-25 11:10:16.121000+00:00,2021-02-25 11:04:14.710000+00:00
708456,33c53003147f489f91bbaf8673c299c4,697.745445,ELECTRONICS,c44196ff-7518-4588-a3c7-37b0b288c240,52954001ebf6474586ba,2021-02-25 17:19:07.863000+00:00,2021-02-25 17:06:53.182000+00:00
721827,02329614783344edb5b7e9a754240172,405.053819,KPOP,4a8ca52f-d84d-4c63-9d53-68b56a0ad9e0,52954001ebf6474586ba,2021-02-26 01:33:19.646000+00:00,2021-02-26 01:26:34.616000+00:00
140318,30a7f9277846450dae506b7ce3d31832,343.835112,RAP,8253ac3a-0dee-4bf9-b925-e2cd643a0bda,52954001ebf6474586ba,2021-02-26 05:53:27.207000+00:00,2021-02-26 05:50:21.461000+00:00
309772,6b551ec5bc644d2ab754292b95e7c19a,587.744893,JAZZ,a0145ac5-091f-4206-9ed2-7ac0a5f0dc43,52954001ebf6474586ba,2021-02-26 08:44:45.960000+00:00,2021-02-26 08:39:21.054000+00:00
361701,e43e76a4c68a4716a4422595316c300a,330.767682,HARDROCK,a3be8bf6-1adf-427c-a77e-8f522561274a,52954001ebf6474586ba,2021-02-26 10:52:24.739000+00:00,2021-02-26 10:47:00.853000+00:00
473920,3e32ded47ab64c0eaa0d84035683491b,1049.087412,CLASSICAL,a9ecaacf-685e-45b9-9600-88154ed415bb,52954001ebf6474586ba,2021-02-26 12:41:41.675000+00:00,2021-02-26 12:38:51.013000+00:00
527251,a9c42ea9930b42acb0533a2eb27e9705,474.447390,TECHNO,644b3f37-9489-4946-862e-f7878060a050,52954001ebf6474586ba,2021-02-26 16:14:46.558000+00:00,2021-02-26 16:13:02.351000+00:00
658042,aae5cbf2a714477aa5326231116f5172,401.537497,ROCK,6d7248eb-791d-4884-84d6-d9e1db3bb297,52954001ebf6474586ba,2021-02-27 17:58:01.043000+00:00,2021-02-27 17:51:58.466000+00:00
81890,bc4195c883534c4f8f90db3d978d6aa0,354.667775,POP,806c751e-ac32-465a-b157-9a39cbe5f7a1,52954001ebf6474586ba,2021-02-27 18:52:36.334000+00:00,2021-02-27 18:51:11.278000+00:00
788715,c8fb256fdbb548b6b96d372292b7977e,372.552915,POP,f6186156-0ca6-4986-8f2e-77b710e3f1ba,52954001ebf6474586ba,2021-02-27 21:03:24.322000+00:00,2021-02-27 20:57:31.610000+00:00
43463,19340951c3ae48f29afa8d95b55f7bfa,665.663608,ELECTRONICS,980c8418-3695-400c-9635-ef49a4e63b89,52954001ebf6474586ba,2021-02-27 22:27:44.546000+00:00,2021-02-27 22:17:27.577000+00:00
765759,a9e1ea546e3e4aa1aa1e3503bcb17459,293.470699,HOUSE,e2386337-190c-46c2-9755-fd24e7810cf5,52954001ebf6474586ba,2021-02-28 06:34:04.627000+00:00,2021-02-28 06:30:01.434000+00:00
538291,8b71d6ac96924baebe5eb519d6805933,411.009846,KPOP,317e3ee0-d87e-417d-be5f-2000108c2561,52954001ebf6474586ba,2021-02-28 12:18:01.386000+00:00,2021-02-28 12:11:02.619000+00:00
339904,973044aab94c4340b4baf8aee0dddf77,424.666822,ROCK,00370546-dc8b-43db-8085-012dcb09362d,52954001ebf6474586ba,2021-02-28 13:14:10.033000+00:00,2021-02-28 13:13:30.724000+00:00
400272,3aa69397ffba469eb32845222bdc990e,344.298224,RAP,b05757d1-7dc5-47a6-befb-de772c819587,52954001ebf6474586ba,2021-02-28 21:22:25.617000+00:00,2021-02-28 21:17:31.040000+00:00
259552,ebc6d0c156794d908ea30da0ce665820,384.040483,POP,4e079c21-60ea-4316-ade1-05b870b02b1c,52954001ebf6474586ba,2021-03-01 12:15:30.924000+00:00,2021-03-01 12:10:44.295000+00:00
467414,d068920362f74bfc9104fdb10dea013b,447.120717,DUBSTEP,58f190ea-b380-4750-8725-2c811e00bde5,52954001ebf6474586ba,2021-03-01 15:58:47.024000+00:00,2021-03-01 15:57:50.314000+00:00

Количество времени потраченное на прослушивание каждого трека в секундах.

In [ ]:
df['listen_times_sec'] = (df['utc_audition_end_dttm'] - df['utc_audition_start_dttm']).astype('timedelta64[s]')

Создадим новые перменные:
* `track_complete` - прослушан ли трек до конца;
* `track_complete_ratio` - доля прослушанного трека.

In [ ]:
df['track_complete'] = (df['listen_times_sec'] == df['track_duration']) * 1

In [ ]:
df['track_complete_ratio'] = df['listen_times_sec'] / df['track_duration']

Посмотрим на жанры.

In [ ]:
df['track_genre'].value_counts()

POP            149835
ROCK            98126
RAP             77198
TECHNO          59482
HARDROCK        54338
METAL           50725
PODCASTS        49666
KPOP            49418
DUBSTEP         47722
VOCAL           42138
ELECTRONICS     41015
RNB             20509
DISCO           19526
HOUSE           18479
INDUSTRIAL      15735
DANCE           15432
PUNK             8190
RELAX            7593
JAZZ             6283
BLUES            5652
CLASSICAL        4470
POSTROCK          865
Name: track_genre, dtype: int64

Количество уникальных юзеров, слушавших хотя бы раз жанр 'TECHNO'.

In [ ]:
df[df['track_genre']=='TECHNO']['user_id'].nunique()

1727

Количество юзеров, хотя бы раз слушавших 'TECHNO' равно количеству уникальных юзеров в датасете - все юзеры из выборки слушали хотя бы раз жанр 'TECHNO'.

In [ ]:
df[df['track_genre']=='TECHNO']['user_id'].nunique() == df['user_id'].nunique()

True

Добавим таким юзерам в отдельной колонке маркер.

In [ ]:
df['is_techno'] = (df['track_genre']=='TECHNO') * 1

Посчитаем долю треков жанра 'TECHNO' от всех треков для каждого юзера и другие полезные признаки.

In [ ]:
techno_frac = df.groupby('user_id')[['is_techno', 
                       'track_id', 
                       'utc_audition_start_dttm', 
                       'track_complete_ratio']].agg({
    'is_techno': ['count', 'mean'], # 'count' - количество прослушанных треков, всего; 'mean' - доля треков в жанре 'TECHNO'
    'track_id': ['nunique'], # Количество уникальных треков которые прослушал юзер
    'utc_audition_start_dttm': ['max'], # Когда юзер последний раз слушал
    'track_complete_ratio': ['mean'] # Среднее время дослушивания трека
})

Уберем "двухэтажные" индексы в колонка новой таблицы и переименуем колонки.

In [ ]:
techno_frac.columns = techno_frac.columns.get_level_values(0)

In [ ]:
techno_frac.columns = ['tracks_count', 
                       'techno_ratio', 
                       'unique_tracks_count', 
                       'last_dt', 
                       'track_complete_ratio_mean']

Доля уникалных треков от общего числа прослушанных треков.

In [ ]:
techno_frac['unique_ratio'] = techno_frac['unique_tracks_count'] / techno_frac['tracks_count']

Переведем `last_dt` из `timestamp` в `unix` (секунды), чтобы удобнее было соритировать.

In [ ]:
techno_frac['last_dt'] = techno_frac['last_dt'].map(pd.Timestamp.timestamp)

* `tracks_count` - количество прослушанных юзером треков, всего. Чем больше - тем лучше.
* `techno_ratio` - доля треков в жанре 'TECHNO' от общего количества прослушанных юзером треков. Чем больше - тем лучше.
* `unique_tracks_count` - количество уникальных треков, всего. Чем больше - тем лучше.
* `last_dt` - дата послднего прослушивания в секундах. Чем больше - тем позднее (лучше).
* `track_complete_ratio_mean` - доля прослушанных до конца треков. Чем больше - тем лучше.
* `unique_ratio` - доля уникальных треков от общего количества прослушанных треков. Чем больше - тем лучше.

In [ ]:
techno_frac

,tracks_count,techno_ratio,unique_tracks_count,last_dt,track_complete_ratio_mean,unique_ratio
user_id,,,,,,
002123faf66b47b5aafa,343,0.067055,325,1.614612e+09,0.667551,0.947522
0041383820e248e487a6,1069,0.072030,950,1.614614e+09,0.646674,0.888681
008005a451764a63aa3f,638,0.067398,595,1.614614e+09,0.645333,0.932602
00c017dc34254d39a390,633,0.080569,602,1.614609e+09,0.675924,0.951027
00f628a2f8044ae18d88,415,0.084337,404,1.614601e+09,0.658767,0.973494
...,...,...,...,...,...,...
ff77d34a23c04d36a421,402,0.082090,374,1.614612e+09,0.667263,0.930348
ff9b606118d449f1ab15,426,0.068075,403,1.614604e+09,0.635799,0.946009
ffa2421c514844c087f3,627,0.049442,578,1.614611e+09,0.648494,0.921850
ffa5ecacdcfb466d8e91,534,0.073034,494,1.614612e+09,0.638745,0.925094
ffe8e02a691746d18159,457,0.056893,439,1.614610e+09,0.661892,0.960613

**RFM**

In [ ]:
techno_frac['tracks_count'].rank(pct=True)

user_id
002123faf66b47b5aafa    0.156051
0041383820e248e487a6    1.000000
008005a451764a63aa3f    0.859294
00c017dc34254d39a390    0.846844
00f628a2f8044ae18d88    0.306022
                          ...
ff77d34a23c04d36a421    0.267516
ff9b606118d449f1ab15    0.338448
ffa2421c514844c087f3    0.836711
ffa5ecacdcfb466d8e91    0.633179
ffe8e02a691746d18159    0.427620
Name: tracks_count, Length: 1727, dtype: float64

Посчитаем такие скоры для всех переменных.

`method='max'` - при одинаковых значениях в группе - будет возвращать максимальное значение группы.

`pct=True` - отображение рейтнга в процентилях.

In [ ]:
features = techno_frac.columns.to_list()

for f in features:
    print(f)
    techno_frac[f'{f}_pct'] = techno_frac[f].rank(pct=True, method='max')

tracks_count
techno_ratio
unique_tracks_count
last_dt
track_complete_ratio_mean
unique_ratio

Сложим скоры по отдельным переменным в единую и отсортируем юзеров, получив, таким образом, наиболее подходящих - тех, которые набрали максимальное количество скоров по каждой из переменных.

In [ ]:
techno_frac['score'] = techno_frac[['tracks_count_pct', 
                                    'techno_ratio_pct', 
                                    'unique_tracks_count_pct', 
                                    'last_dt_pct', 
                                    'track_complete_ratio_mean_pct', 
                                    'unique_ratio_pct']].sum(axis=1)

In [ ]:
techno_frac.sort_values('score', ascending=False)

,tracks_count,techno_ratio,unique_tracks_count,last_dt,track_complete_ratio_mean,unique_ratio,tracks_count_pct,techno_ratio_pct,unique_tracks_count_pct,last_dt_pct,track_complete_ratio_mean_pct,unique_ratio_pct,score
user_id,,,,,,,,,,,,,
2045edcddeaf4e5490cb,680,0.076471,642,1.614614e+09,0.670367,0.944118,0.910828,0.701216,0.921251,0.901563,0.855240,0.370585,4.660683
c2c9b78fcffc46b08c31,714,0.086835,662,1.614614e+09,0.667938,0.927171,0.938622,0.906775,0.939780,0.936306,0.819340,0.092646,4.633468
7ad3d1dd2c1f4aef827a,550,0.098182,525,1.614614e+09,0.662114,0.954545,0.679792,0.976838,0.693109,0.873191,0.715692,0.614360,4.552982
f0e498a8212f4e71ab3a,456,0.089912,442,1.614614e+09,0.676741,0.969298,0.426173,0.934569,0.448176,0.932831,0.932252,0.878981,4.552982
b4a1617c374a490c8868,513,0.089669,491,1.614614e+09,0.666676,0.957115,0.572669,0.933411,0.588882,0.948466,0.799653,0.665895,4.508975
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3c714d2371494bb082a0,244,0.040984,233,1.614606e+09,0.645946,0.954918,0.042849,0.005211,0.039954,0.123335,0.312102,0.620730,1.144181
9342a40f32c34766a29f,316,0.053797,301,1.614608e+09,0.630257,0.952532,0.116387,0.073538,0.110596,0.176028,0.065431,0.562826,1.104806
bd3256057f9140cf8df0,276,0.057971,259,1.614608e+09,0.644667,0.938406,0.069485,0.145339,0.063694,0.212507,0.292415,0.255935,1.039375
1f8ea6aa8660483fb86b,250,0.056000,240,1.614603e+09,0.606584,0.960000,0.048639,0.113492,0.046323,0.062536,0.003474,0.724378,0.998842
34a3270b4b2d437d9389,391,0.058824,364,1.614606e+09,0.611746,0.930946,0.242617,0.164447,0.220035,0.101332,0.009265,0.134337,0.872032

В качестве дополнения, можно поиграть с весами фичей, например отдать больший вес `techno_ratio`.

In [ ]:
techno_frac['score_weighted'] = (0.16/6 * techno_frac['tracks_count_pct'] + \
                        2/6 * techno_frac['techno_ratio_pct'] + \
                        0.16/6 * techno_frac['unique_tracks_count_pct'] + \
                        0.16/6 * techno_frac['last_dt_pct'] + \
                        0.16/6 * techno_frac['track_complete_ratio_mean_pct'] + \
                        0.16/6 * techno_frac['unique_ratio_pct'])

In [ ]:
techno_frac.head()

,tracks_count,techno_ratio,unique_tracks_count,last_dt,track_complete_ratio_mean,unique_ratio,tracks_count_pct,techno_ratio_pct,unique_tracks_count_pct,last_dt_pct,track_complete_ratio_mean_pct,unique_ratio_pct,score,score_weighted
user_id,,,,,,,,,,,,,,
002123faf66b47b5aafa,343,0.067055,325,1.614612e+09,0.667551,0.947522,0.156920,0.390851,0.145918,0.488130,0.810654,0.449913,2.442386,0.184991
0041383820e248e487a6,1069,0.072030,950,1.614614e+09,0.646674,0.888681,1.000000,0.560510,1.000000,0.758541,0.332947,0.000579,3.652577,0.269292
008005a451764a63aa3f,638,0.067398,595,1.614614e+09,0.645333,0.932602,0.859873,0.400695,0.856398,0.810075,0.302258,0.150550,3.379849,0.213009
00c017dc34254d39a390,633,0.080569,602,1.614609e+09,0.675924,0.951027,0.847134,0.806022,0.870295,0.244933,0.925304,0.531558,4.225246,0.359853
00f628a2f8044ae18d88,415,0.084337,404,1.614601e+09,0.658767,0.973494,0.308049,0.869137,0.330052,0.035900,0.635206,0.922409,3.100753,0.349222

#### Задание 2

In [ ]:
import sqlite3

**SQL**

У Яндекс есть подписка "Плюс", которая позволяет копить кешбек за пользование разными сервисами. Подписка имеет срок действия, но может быть продлена.

Напишите SQL-запрос чтобы посчитать количество пользователей у которых доля покупок с активной подпиской составляет более $80\%$ от общего числа их заказов.

Таблица `market_orders`:
- `order_id` - `id` заказа на ЯндексМаркет.
- `utc_creation_dttm` - дата создания заказа в формате `YYYY-MM-DD hh:mm:ss`
- `user_id` - `id` пользователя.

Таблица `active_plus`:
- `user_id` - `id` пользователя.
- `utc_dttm_from` - дата формате `YYYY-MM-DD hh:mm:ss`, с которой подписка "Плюс" была активна.
- `utc_dttm_to` - дата формате `YYYY-MM-DD hh:mm:ss`, до которой подписка "Плюс" была активна.

Промежутки, когда подписка была активна не пересекаются.

In [ ]:
sqlite3.sqlite_version

'3.26.0'

Создадим объекты базы данных и курсора. Последний поможет нам получить результируещие данные при использовании операций `SELECT`.

In [ ]:
con = sqlite3.connect('database')

In [ ]:
cur = con.cursor()

Сгенерируем данные и создадим таблицу `market_orders`.

In [ ]:
pd.date_range('2021-03-15', '2021-03-19')

DatetimeIndex(['2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18',
               '2021-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Последний заказ сделан, когда подписка была не активна
market_orders_user_1 = pd.DataFrame({
    'order_id': range(5), 
    'utc_creation_dttm': pd.date_range('2021-03-15','2021-03-19'),
    'user_id': [1] * 5})

In [ ]:
market_orders_user_2 = pd.DataFrame({
    'order_id': range(1, 11), 
    'utc_creation_dttm':pd.date_range('2021-03-15', '2021-03-24'), 
    'user_id':[2] * 10})

In [ ]:
market_orders_user_3 = pd.DataFrame({
    'order_id': range(5), 
    'utc_creation_dttm': pd.date_range('2021-03-15', '2021-03-19'), 
    'user_id': [3] * 5})

In [ ]:
market_orders = pd.concat([market_orders_user_1, 
                           market_orders_user_2, 
                           market_orders_user_3])

In [ ]:
market_orders

   order_id utc_creation_dttm  user_id
0         0        2021-03-15        1
1         1        2021-03-16        1
2         2        2021-03-17        1
3         3        2021-03-18        1
4         4        2021-03-19        1
0         1        2021-03-15        2
1         2        2021-03-16        2
2         3        2021-03-17        2
3         4        2021-03-18        2
4         5        2021-03-19        2
5         6        2021-03-20        2
6         7        2021-03-21        2
7         8        2021-03-22        2
8         9        2021-03-23        2
9        10        2021-03-24        2
0         0        2021-03-15        3
1         1        2021-03-16        3
2         2        2021-03-17        3
3         3        2021-03-18        3
4         4        2021-03-19        3

Сгенерируем таблицу `active_plus`.

In [ ]:
active_plus_user_1 = pd.DataFrame({
    'user_id': [1], 
    'utc_dttm_from': ['2021-03-15'], 
    'utc_dttm_to': ['2021-03-18']})

In [ ]:
active_plus_user_2 = pd.DataFrame({
    'user_id': [2, 2, 2], 
    'utc_dttm_from': ['2021-03-15', 
                      '2021-03-18', 
                      '2021-03-24'], 
    'utc_dttm_to': ['2021-03-16', 
                    '2021-03-22', 
                    '2021-04-16']})

In [ ]:
active_plus_user_3 = pd.DataFrame({
    'user_id': [3], 
    'utc_dttm_from': ['2021-03-15'], 
    'utc_dttm_to': ['2021-03-16']})

In [ ]:
 active_plus = pd.concat([active_plus_user_1, 
                          active_plus_user_2, 
                          active_plus_user_3])

In [ ]:
active_plus

   user_id utc_dttm_from utc_dttm_to
0        1    2021-03-15  2021-03-18
0        2    2021-03-15  2021-03-16
1        2    2021-03-18  2021-03-22
2        2    2021-03-24  2021-04-16
0        3    2021-03-15  2021-03-16

Зальем таблицы в созданую выше базу данных.

In [ ]:
market_orders.to_sql('market_orders', 
                     con, 
                     index=False, 
                     if_exists='replace')

In [ ]:
active_plus.to_sql('active_plus', 
                     con, 
                     index=False, 
                     if_exists='replace')

Сделаем функцию, которая будет читать SQL-запрос и возвращать pandas-датфрейм.

In [ ]:
def select(sql):
    return pd.read_sql(sql, con)

Джойним таблицы.

Так как нас интересуют юзеры и их покупки только в период действия подписки "Яндекс Плюс", то джойним по `user_id` и условию, что покупки были между `utc_dttm_from` и `utc_dttm_to`.

In [ ]:
sql = '''SELECT *

FROM market_orders m

LEFT JOIN active_plus a
ON m.user_id = a.user_id AND
date(m.utc_creation_dttm) BETWEEN date(a.utc_dttm_from) AND date(a.utc_dttm_to)'''

In [ ]:
select(sql)

    order_id    utc_creation_dttm  user_id  user_id utc_dttm_from utc_dttm_to
0          0  2021-03-15 00:00:00        1      1.0    2021-03-15  2021-03-18
1          1  2021-03-16 00:00:00        1      1.0    2021-03-15  2021-03-18
2          2  2021-03-17 00:00:00        1      1.0    2021-03-15  2021-03-18
3          3  2021-03-18 00:00:00        1      1.0    2021-03-15  2021-03-18
4          4  2021-03-19 00:00:00        1      NaN          None        None
5          1  2021-03-15 00:00:00        2      2.0    2021-03-15  2021-03-16
6          2  2021-03-16 00:00:00        2      2.0    2021-03-15  2021-03-16
7          3  2021-03-17 00:00:00        2      NaN          None        None
8          4  2021-03-18 00:00:00        2      2.0    2021-03-18  2021-03-22
9          5  2021-03-19 00:00:00        2      2.0    2021-03-18  2021-03-22
10         6  2021-03-20 00:00:00        2      2.0    2021-03-18  2021-03-22
11         7  2021-03-21 00:00:00        2      2.0    2021-03-18  2021-03-22
12         8  2021-03-22 00:00:00        2      2.0    2021-03-18  2021-03-22
13         9  2021-03-23 00:00:00        2      NaN          None        None
14        10  2021-03-24 00:00:00        2      2.0    2021-03-24  2021-04-16
15         0  2021-03-15 00:00:00        3      3.0    2021-03-15  2021-03-16
16         1  2021-03-16 00:00:00        3      3.0    2021-03-15  2021-03-16
17         2  2021-03-17 00:00:00        3      NaN          None        None
18         3  2021-03-18 00:00:00        3      NaN          None        None
19         4  2021-03-19 00:00:00        3      NaN          None        None

Проставим всем юзерам напротив тех покупок, когда была активна подписка флаг $1$, если не активна - $0$.

In [ ]:
sql = '''SELECT m.user_id,
CASE WHEN a.user_id IS NOT NULL THEN 1 ELSE 0 END as active_plus_enable

FROM market_orders m

LEFT JOIN active_plus a
ON m.user_id = a.user_id AND
date(m.utc_creation_dttm) BETWEEN date(a.utc_dttm_from) AND date(a.utc_dttm_to)'''

In [ ]:
select(sql)

    user_id  active_plus_enable
0         1                   1
1         1                   1
2         1                   1
3         1                   1
4         1                   0
5         2                   1
6         2                   1
7         2                   0
8         2                   1
9         2                   1
10        2                   1
11        2                   1
12        2                   1
13        2                   0
14        2                   1
15        3                   1
16        3                   1
17        3                   0
18        3                   0
19        3                   0

Посчитаем среднее количество покупок с активной подпиской на каждого юзера.

In [ ]:
sql = '''SELECT m.user_id,
AVG(CASE WHEN a.user_id IS NOT NULL THEN 1 ELSE 0 END) as active_plus_enable_mean

FROM market_orders m

LEFT JOIN active_plus a
ON m.user_id = a.user_id AND
date(m.utc_creation_dttm) BETWEEN date(a.utc_dttm_from) AND date(a.utc_dttm_to)

GROUP BY m.user_id'''

In [ ]:
select(sql)

   user_id  active_plus_enable_mean
0        1                      0.8
1        2                      0.8
2        3                      0.4

Оставим только тех, у кого доля таких покупок $>= 80\%$.

In [ ]:
sql = '''SELECT m.user_id,
AVG(CASE WHEN a.user_id IS NOT NULL THEN 1 ELSE 0 END) as active_plus_enable_mean

FROM market_orders m

LEFT JOIN active_plus a
ON m.user_id = a.user_id AND
date(m.utc_creation_dttm) BETWEEN date(a.utc_dttm_from) AND date(a.utc_dttm_to)

GROUP BY m.user_id

HAVING AVG(CASE WHEN a.user_id IS NOT NULL THEN 1 ELSE 0 END) >= 0.8'''

In [ ]:
select(sql)

   user_id  active_plus_enable_mean
0        1                      0.8
1        2                      0.8

Посчитаем количество юзеров.

In [ ]:
sql = '''WITH temp AS (
SELECT m.user_id,
AVG(CASE WHEN a.user_id IS NOT NULL THEN 1 ELSE 0 END) as active_plus_enable_mean

FROM market_orders m

LEFT JOIN active_plus a
ON m.user_id = a.user_id AND
date(m.utc_creation_dttm) BETWEEN date(a.utc_dttm_from) AND date(a.utc_dttm_to)

GROUP BY m.user_id

HAVING AVG(CASE WHEN a.user_id IS NOT NULL THEN 1 ELSE 0 END) >= 0.8)



SELECT COUNT(user_id) as active_users_with_plus
FROM temp'''

In [ ]:
select(sql)

   active_users_with_plus
0                       2